<template>
  <Page>
    <ActionBar title="Fontys Demo" flat="true"/>

    <StackLayout class="home-panel">
      <Button text="Scannen" @tap="scan()"/>
      <Label textWrap="true" text="Dit is een demo applicatie ter demonstratie van het scannen van barcodes in NativeScript" class="description-label"/>
    </StackLayout>

    <BarcodeScanner
      row="1"
      height="300"
      formats="QR_CODE, EAN_13, UPC_A"
      beepOnScan="true"
      reportDuplicates="true"
      preferFrontCamera="false"
      v-if="isIOS">
    </BarcodeScanner>
  </Page>
</template>

<script>
import {BarcodeScanner} from "nativescript-barcodescanner";

export default {
  data() {
    return {
      pause: false,
      result: {
        scanned: false,
        text: null,
        format: null,
      },
    }
  },

  computed: {
    message() {
      return "Barcode demo";
    }
  },

  methods: {
    scan() {
      this.result.scanned = false;

      new BarcodeScanner().scan({
        showTorchButton: true,
        torchOn: false,
        resultDisplayDuration: 500,
        beepOnScan: true,
        openSettingsIfPermissionWasPreviouslyDenied: true,
      }).then(
          function (result) {
            setTimeout(function () {
              alert({
                title: "Scan succesvol!",
                message: `Scan resultaat: '${result.text}' in formaat '${result.format}'`,
                okButtonText: "OK"
              });
            }, 500);
          },

          function (errorMessage) {
            setTimeout(function () {
              alert({
                title: "Error",
                message: errorMessage,
                okButtonText: "OK"
              });
            }, 500);
          }
      );
    },
  }
};
</script>

<style scoped lang="scss">
@import '~@nativescript/theme/scss/variables/blue';

.home-panel {
  vertical-align: center;
  font-size: 20;
  margin: 25;
}

.description-label {
  margin-top: 25;
  text-align: center;
}
</style>
